@model CSIMedia.Table
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/Scripts/ListOrganiser.js"></script>
@{
    ViewBag.Title = "Ascending";
}

<h2>Ascending Oder</h2>

<div class="ascenidngDisplay">
    
    <hr />
    <dl class="dl-horizontal ">
        

        <dd>
            <div class="clonedA"></div>
        </dd>

        <dt>
            
        </dt>

        <dd>
            <div class="clonedB"></div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.D)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.D)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.E)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.E)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.G)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.G)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.H)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.H)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.J)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.J)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
