@model IEnumerable<CSIMedia.Table>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("another list?", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.A)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.B)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.C)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.D)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.E)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.F)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.G)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.H)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.J)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.A)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.B)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.D)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.F)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.G)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.H)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.J)
            </td>
            <td>
                <span class="ascending">
                    @Html.ActionLink("Ascending", "Edit", new { id = item.Id })
                </span>|
                <span class="descending"> @Html.ActionLink("Descending", "Details", new { id = item.Id }) </span> |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
@Scripts.Render("~/Scripts/TableSort")